label {
  width: 80px;
  height: 50px;
  background: #ebebeb;
  border-radius: 200px;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
    inset 0px -5px 15px rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: background 0.5s;
  display: flex;
  align-items: center;
  margin: 0 5px;
}

label:after {
  content: "";
  margin: 3px;
  width: 40px;
  height: 40px;
  background: linear-gradient(180deg, #ffcc89, #d8860b);
  border-radius: 50%;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s, background 0.5s;
  transform: translateX(0);
}

input[type="checkbox"] {
  visibility: hidden;
}

input[type="checkbox"]:checked + label {
  background: #42a5f5;
  color: white;
}

input[type="checkbox"]:checked + label:after {
  transform: translateX(34px);
  background: linear-gradient(180deg, #1565c0, #0d47a1);
}
