.upload-box {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.image-box {
  width: 600px;
  height: 300px;
  border: 2px dashed #646464;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  position: relative;
}

.placeholder {
  color: #aaa;
  font-size: 20px;
}

.uploaded-image {
  width: 95%;
  height: 90%;
  border: 0px solid black;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  object-fit: fill;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.custom-button {
  margin-top: 15px;
  width: 125px;
  height: 50px;
  border: none;
  border-radius: 10px;
  background-color: rgb(221, 221, 221);
  border: 2px solid #757675;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.custom-button:hover {
  background-color: #757675;
  transform: scale(1.05);
}

.custom-button:active {
  transform: scale(1);
}

.generate-caption-button {
  background-color: #98ff84;
  border: 2px solid #4fad4c;

}

.generate-caption-button:hover {
  background-color: #4fad4c;
  transform: scale(1.05);
}

.generate-caption-button:active {
  transform: scale(1);
}

.caption-box {
  padding: 10px;
  width: 600px;
  border: 2px solid #646464;
  border-radius: 10px;
  font-size: 20px;
  min-height: 25px;
}

.caption {
  color: #333;
}

.error {
  color: #aaa;
}