.bg {
  height: 100vh;
  background-color: #f0f8ff; 
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.borderLine {
  border-bottom: 1px solid black;
  opacity: 0.4;
  align-self: stretch;
  margin-bottom: 20px;
}
