/* .bg {
  height: 100vh;
  background-color: #f0f8ff; 
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.borderLine {
  border-bottom: 1px solid black;
  opacity: 0.4;
  align-self: stretch;  
  margin-bottom: 20px;
} */
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.bg {
  height: 100vh;
  background-color: #addbb8;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Helvetica Neue', sans-serif;
}

.borderLine {
  border-bottom: 1px solid #ccc;
  opacity: 0.6;
  align-self: stretch;
  margin-bottom: 20px;
}